body{font-family:"Noto Sans KR", sans-serif; font-size:18px; font-weight:200; line-height:1.5; color:#ffffff;text-align:center;background:#fff;}
h3 {background:#fff;margin-bottom:-50px;height:120px;}
.main{z-index:10;position:center;}